@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #848385;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.                                                                      343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23000000' fill-opacity='0.59' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: black;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center /*places items in centre vertically*/;
  justify-content: center; /*places items in centre horizontally*/
}

.quote-container {
  width: auto;
  max-width: 900px; /*if the quote is big it will wrap the content to the next line*/
  /*color: #848385;*/
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.quote-text {
  font-size: 2.75rem; /*we use rem for consistent and responsive design*/
}
.long-quote {
  font-size: 2rem;
}
.fa-quote-left,
.fa-quote-right {
  font-size: 3rem;
}
#quote-author {
  padding: 10px;
  font-size: 1.3rem;
  font-family: Roboto, sans-serif;
  font-weight: 400; /*all the other text has font weight of 700*/
}
.button-container {
  font-size: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.fa-twitter {
  font-size: 2rem;
}
.twitter-button {
  color: white;
  background-color: #848385;
  border-radius: 10px;
  padding: 0px 45px;
  font-size: 1.2rem;
  cursor: pointer;
  height: 2.5rem;
  border: none;
  outline: none;
  box-shadow: 0.3rem 0.3rem rgba(121, 121, 121, 0.3);
}
.twitter-button:hover {
  color: #0d7ac2b2;
}
.new-quote {
  background-color: #848385;
  border-radius: 10px;
  padding: 10px 18px;
  font-size: 1.2rem;
  cursor: pointer;
  height: 2.5rem;
  border: none;
  box-shadow: 0.3rem 0.3rem rgba(82, 81, 81, 0.3);
}
.new-quote:hover,
.twitter-button:hover {
  filter: brightness(110%);
}
.new-quote:active,
.twitter-button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

/*Media Query for screen visibility in mobile device with less than 1000px of width*/

@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 15px;
  }
  .quote-text {
    font-size: 1.3rem;
  }
}

/*Loader- */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #848385;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
